@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 0 0% 100%; */
    --background: #ffffff;
    /* --foreground: 240 10% 3.9%; */
    --foreground: #09090b;

    /* --card: 0 0% 100%; */
    --card: #ffffff;
    /* --card-foreground: 240 10% 3.9%; */
    --card-foreground: #09090b;

    /* --popover: 0 0% 100%; */
    --popover: #ffffff;
    /* --popover-foreground: 240 10% 3.9%; */
    --popover-foreground: #09090b;

    /* --primary: 240 5.9% 10%; */
    --primary: #18181b;
    /* --primary-foreground: 0 0% 98%; */
    --primary-foreground: #fafafa;

    /* --secondary: 240 4.8% 95.9%; */
    --secondary: #f4f4f5;
    /* --secondary-foreground: 240 5.9% 10%; */
    --secondary-foreground: #18181b;

    /* --muted: 240 4.8% 95.9%; */
    --muted: #f4f4f5;
    /* --muted-foreground: 240 3.8% 46.1%; */
    --muted-foreground: #71717a;

    /* --accent: 240 4.8% 95.9%; */
    --accent: #f4f4f5;
    /* --accent-foreground: 240 5.9% 10%; */
    --accent-foreground: #18181b;

    /* --destructive: 0 84.2% 60.2%; */
    --destructive: #ef4343;
    /* --destructive-foreground: 0 0% 98%; */
    --destructive-foreground: #fafafa;

    /* --border: 240 5.9% 90%; */
    --border: #e4e4e7;
    /* --input: 240 5.9% 90%; */
    --input: #e4e4e7;
    /* --ring: 240 10% 3.9%; */
    --ring: #09090b;

    /* --gradient-start:  */

    --radius: 0.5rem;
  }

  .dark {
    /* --background: 240 10% 3.9%; */
    --background: #09090b;
    /* --foreground: 0 0% 98%; */
    --foreground: #fafafa;

    /* --card: 240 10% 3.9%; */
    --card: #09090b;
    /* --card-foreground: 0 0% 98%; */
    --card-foreground: #fafafa;

    /* --popover: 240 10% 3.9%; */
    --popover: #09090b;
    /* --popover-foreground: 0 0% 98%; */
    --popover-foreground: #fafafa;

    /* --primary: 0 0% 98%; */
    --primary: #fafafa;
    /* --primary-foreground: 240 5.9% 10%; */
    --primary-foreground: #18181b;

    /* --secondary: 240 3.7% 15.9%; */
    --secondary: #27272a;
    /* --secondary-foreground: 0 0% 98%; */
    --secondary-foreground: #fafafa;

    /* --muted: 240 3.7% 15.9%; */
    --muted: #27272a;
    /* --muted-foreground: 240 5% 64.9%; */
    --muted-foreground: #a1a1aa;

    /* --accent: 240 3.7% 15.9%; */
    --accent: #27272a;
    /* --accent-foreground: 0 0% 98%; */
    --accent-foreground: #fafafa;

    /* --destructive: 0 62.8% 30.6%; */
    --destructive: #811d1d;
    /* --destructive-foreground: 0 0% 98%; */
    --destructive-foreground: #fafafa;

    /* --border: 240 3.7% 15.9%; */
    --border: #27272a;
    /* --input: 240 3.7% 15.9%; */
    --input: #27272a;
    /* --ring: 240 4.9% 83.9%; */
    --ring: #d4d4d8;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .blog-content img {
    @apply w-full;
  }
}
